@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  /* --logo: url('./assets/logo.png'); */
}
  /*dark mode */
  [data-theme='dark'] {
  --primary-color: #171b34; /*container*/
  --secondary-color: #254AAD; /*letras*/
  --black-color: #ffffff; /*letras*/
  --lightGray-color: #121212; /*contorno redes sociales*/ 
  --gray-color: #ffffff; /*letras*/
  --brown-color: #1d0424;
  --white-color: #14142c; /*container*/
  /* --logo: url('./assets/logo_black.png'); */
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
